/*CSS Page for Catch-A-HotRod
	Author: S. Meisha Ray
	Term: VFW1110
	Created: September 30, 2011
*/

body{
	background: url(http://smeisharay.github.com/VFW1110P2/images/catch_a_hotrod.jpg) repeat;
	font-family: Helvetica, Arial, serif;
}
h1 {
	color: gray;
	font-family: Helvetica;
	text-shadow: 2px 2px 1px white;
	text-align: center;	
	margin: 10px 10px 10px 10px;
	border: 4px solid gray;
	padding: 14px;
	background: #FFC469;
	-moz-border-radius: 20%;
	border-radius: 10%;
}
h2{
	color: #444444;
	font-family: "Helvetica Neue";
	text-align: center;
}
#navlist{
	height: 15px
	list-style-type: auto;
	margin:5;
	padding:5;
}
#navlist li{
	display: inline;
}
#navlist li a{ 
	color: #444444;
	text-decoration: none;
}
#navlist li a:hover{
	color: ff0000;
}

#signup a{
	color: gray;
	background: #FFC469;
	-moz-border-radius: 15%;
	border-radius: 50%;
}
input[type=submit] {
	color: gray;
	background: #FFC469;
	-moz-border-radius: 15%;
	border-radius: 50%;
}
label {
 	display: inline-table;
}
#signup{
	-webkit-box-shadow:
		inset 10px 10px 84px  gray,
		inset -10px -10px 84px #444444;
	-moz-box-shadow:	
		inset 10px 10px 84px gray,
		inset -10px -10px 84px #444444;
	box-shadow:
		inset 10px 10px 84px gray,
		inset -10px -10px 84px #444444;
}
legend{
	color: gray;
	font-family:"Copperplate Gothic Bold";
	text-align: center;
	background: #E0DFDB;
}
ul{
	list-style-type: none;
	padding:0px;
	margin:0px;
}
#copyright{	
	color: gray;
}








