/*CSS Page for Catch-A-HotRod
	Author: S. Meisha Ray
	Term: VFW1110
	Created: September 30, 2011
*/

body{
	background: #E0DFDB; /*2nd choice #B2DFEE;*/
	font-family: Arial, serif;
}
#navlist{
	list-style-type: none;
	margin:5;
	padding:5;
}
h1 {
	color: red;
	font-family: "Handwriting - Dakota";
	text-shadow: 2px 2px 1px white;
	text-align: center;	
	margin: 10px 10px 10px 10px;
	border: 4px solid gray;
	padding: 14px;
	background: #FFC469;
	-moz-border-radius: 20%;
	border-radius: 50%;
}
h2{
	color:gray;
	font-family: "Helvetica Neue";
	text-align: center;
}
#yesupdates{ 
	color: gray;
	font: italic bold 16px/1.4em "Times New Roman";
	line-height: 1.4em;
	letter-spacing: .09em;
	text-align: left;
	}
input[type=submit] {
	color: red;
	background: #FFC469;
	-moz-border-radius: 15%;
	border-radius: 50%;
}
label {
 	display: inline-table;
}
#signup{
	-webkit-box-shadow:
		inset 10px 10px 84px  gray,
		inset -10px -10px 84px gray;
	-moz-box-shadow:	
		inset 10px 10px 84px gray,
		inset -10px -10px 84px gray;
	box-shadow:
		inset 10px 10px 84px gray,
		inset -10px -10px 84px gray;
}
#form1{
	background: #FCFFF0;
}
#form2{
	background:#FCFFF0;
}
legend{
	color: gray;
	font-family:"Copperplate Gothic Bold";
	text-align: center;
	background: #E0DFDB;
}
ul{
	list-style-type: none;
	padding:0px;
	margin:0px;
}
#copyright{	
	color: gray;
}








